div.sticky-container
  ul.stick(layout-gt-xs="column" layout="row")
    li
      md-button.md-icon-button.md-primary(socialshare
       socialshare-provider="facebook"
       socialshare-url="{{$ctrl.pageInfo.pageUrl}}"
       socialshare-media="{{$ctrl.pageInfo.pageImgUrl}}"
       socialshare-description="{{$ctrl.pageInfo.pageDesc}}"
       socialshare-title="{{$ctrl.pageInfo.pageName}}"
       socialshare-via="1592090201100353"
       socialshare-type="share"
       socialshare-redirect-uri="{{$ctrl.pageInfo.pageUrl}}"

       )
        md-tooltip(md-direction="right") Facebook
        i.fa.fa-facebook-official
    li
      md-button.md-icon-button.md-primary(socialshare
        socialshare-provider="linkedin"
        socialshare-url="{{$ctrl.pageInfo.pageUrl}}"
        socialshare-text="{{$ctrl.pageInfo.pageName}}"
        socialshare-description="{{$ctrl.pageInfo.pageDesc}}"
        socialshare-source="{{$ctrl.pageInfo.pageUrl}}"
       )
        md-tooltip(md-direction="right") Linkedin
        i.fa.fa-linkedin-square
    li
      md-button.md-icon-button.md-primary(socialshare
        socialshare-provider="twitter"
        socialshare-text="Some interesting site!"
        socialshare-hashtags="angularjs, js developer"
        socialshare-url="{{$ctrl.pageInfo.shortUrl}}")
        md-tooltip(md-direction="right") Twitter
        i.fa.fa-twitter-square
    li
      md-button.md-icon-button.md-primary(socialshare
      socialshare-provider="email",
      socialshare-subject="Hey there! A interesting site for you!",
      socialshare-body="Hey I found that this site maybe interest you! {{$ctrl.pageInfo.pageUrl}}"
      )
        md-tooltip(md-direction="right") E-mail
        i.fa.fa-envelope-o

