div#EditorProject(style="min-height:60vh")
  .container(layout="column" flex = "100")
    div(flex layout-align="center center" layout="column")
      h1 Project Editor Details Console
    div(layout="row")
      div#postsLists(flex="25")
        h3 list of projects
        md-list
          md-list-item(ng-repeat="project in $ctrl.listProjects", ng-click="$ctrl.loadForEdition($index)")
            .md-list-item-text
              h4 {{project.title}}
            md-divider
      div#editForm(layout="column" flex-offset="5", flex="75")
        form(layout="column" name="projectForm" ng-submit="$ctrl.handleSubmit($event)")
          md-input-container
            label Title
            input(ng-model="project.title" required)
          md-input-container
            label Slug
            input(ng-model="project.slug" required)
          md-input-container
            label Desc
            textarea(ng-model="$ctrl.project.desc" required)
          div(layout="row" flex="100")
            md-input-container(flex="25")
              md-datepicker(ng-model="$ctrl.project.doneDate" md-placeholder="Enter date")
            md-input-container(flex="20")
              label Project Type
              md-select(ng-model="$ctrl.project.type" required name="type")
                md-option(ng-repeat="type in $ctrl.projectTypes" value="{{type}}") {{type}}
                div(ng-messages="projectForm.type.$error")
                  div(ng-message="required") This is required.
            md-input-container(flex)
              label Project Url
              input(ng-model="$ctrl.project.siteUrl" required)
          div(layout="row" flex="100")
            md-input-container(flex)
              label Project Image
              input(ng-model="$ctrl.project.imgUrl" required)
              md-icon.fa.fa-search(ng-click="$ctrl.showDialog()")
            img#projectImage(ng-src="{{$ctrl.project.imgUrl}}")
          div(layout="row" flex="50")
            md-input-container
              md-switch(
                ng-model="$ctrl.project.displayFront"
                aria-label="displayFront"
                ng-true-value="true"
                ng-false-value="false"
                ) Front ?
            md-input-container
              md-switch(ng-model="$ctrl.project.hasDesc" 
                ng-true-value="true"
                ng-false-value="false"
                required) Has Details ?
          div(ng-show="$ctrl.project.hasDesc")
            
            label Challenge Text
            md-input-container(flex="100")
              textarea(ui-tinymce="tinymceOptions" ng-model="$ctrl.project.challengeText")
            label Desc Text
            md-input-container(flex="100")
              textarea#mytext(ui-tinymce="tinymceOptions" ng-model="$ctrl.project.text" )
          div(layout="row", layout-align="start center" )
            md-button(type="submit")  {{$ctrl.addOrSave}} 
            md-button(ng-click="$ctrl.showPreview($event)") preview

script(type="text/ng-template" id="selectImage.tmpl.pug")
  md-dialog(aria-label="Search Images")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Select the images that you wish to display!
          span(flex)
          md-button.md-icon-button(ng-click="cancel()") x
      md-dialog-content
        md-content#StockListContent()
          md-list#dialogImagesList(flex)
            md-list-item.md-2-line(ng-animate='animate' ng-repeat='image in $ctrl.imagesList', layout="row", ng-click="answer($index)")
              img(ng-src='https://s3.amazonaws.com/rogatis/{{image}}' style="max-width:100px;")
              div.md-list-item-text(layout="column" alig)
                h3 {{image}}
              md-divider.md-inset(ng-if="!$last")
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Cancel

script(type="text/ng-template" id="preview.tmpl.pug")
  md-dialog(aria-label="Project Preview")
      form(ng-cloak)
        md-toolbar
          div.md-toolbar-tools
            h2 project preview!
            span(flex)
            md-button.md-icon-button(ng-click="cancel()") x
        md-dialog-content
            md-card.animated.fadeInUp
                img(ng-src="{{$ctrl.project.imgUrl}}") 
                div#card(flex layout="row"  layout-align="center center") 
                  md-card-title(flex="90")
                    md-card-title-text
                      span.md-headline {{$ctrl.project.title}}
                      span.md-subhead {{$ctrl.project.type}}
                  div#pointer(flex layout-align="center center")
                    i.fa.fa-angle-right      
        md-dialog-actions(layout="row")
          span(flex)
          md-button(ng-click="cancel()") Cancel

script(type="text/ng-template" id="saveOk.tmpl.pug")
  md-dialog(aria-label="Save ok")
      form(ng-cloak)
        md-toolbar
          div.md-toolbar-tools
            h2 Project Add or Change
            span(flex)
            md-button.md-icon-button(ng-click="cancel()") x
        md-dialog-content
            span(flex) Its OK! All changes saved!  
        md-dialog-actions(layout="row")
          span(flex)
          md-button(ng-click="cancel()") ok          


