div#footer(layout="row" flex="100" layout-align="center bottom").animated.fadeInUp
  .container(flex="100" layout="column")
    div#upButtonWrapper(flex="100" layout="row" layout-align="center end")
      div#divider(flex)
      md-button#upButton(ng-href="#top" layout-align="center center" aria-label="up")
        md-icon#chevron.fa.fa-angle-up
      div#divider(flex)
    div#secondLine(layout-gt-xs="row" layout="column")
      p(flex-gt-xs="33" flex="100")  @2017 Jean Philip de Rogatis
      div(flex="33" hide-xs layout="row" layout-align="space-between")
        a(href='/about') about
        a(href='/portfolio') portfolio
        a(href='/blog') blog
        a(href='/contact') contact
      div(flex="33" hide-xs layout="row" layout-align="end end")
        div
          p  ver: {{$ctrl.verNumber}}
        div.fb-like(data-href="http://www.rogatis.eti.br" 
          data-layout="button_count" 
          data-action="like" 
          data-size="large" 
          data-show-faces="false" 
          data-share="false")
    