div#footer(layout="row" flex="100" layout-align="center bottom").animated.fadeInUp
  .container(flex layout-gt-xs="row" layout="column")
    p(flex-gt-xs="33" flex="100")  @2016 Jean Philip de Rogatis
    div(flex="33")(hide-xs layout="row" layout-align="space-between")
      a(href='/about') about
      a(href='/portfolio') portfolio
      a(href='/blog') blog
      a(href='/contact') contact
    div(flex="33")(hide-xs layout="row" layout-align="end end")
      div.fb-like(data-href="http://www.rogatis.eti.br" 
        data-layout="button_count" 
        data-action="like" 
        data-size="large" 
        data-show-faces="false" 
        data-share="false")
    