
div#main(flex="100", layout="column")
  div#header(layout="row")
    div#textBox
      p#text.IntroAnimated.animated.fadeIn.
        Look at the word<br>
        from new angles,<br>
        solving <span id="inner">&lt;coding&gt;</span> problems <br>
        from an unusual point of view.
    div#mainImage(flex="100", layout="column")
      div(layout="row" layout-fill layout-align="center center")
        md-card#mainImageCard.animated.slideInLeft(flex)
          img(src="/assets/images/skyEsqV5.png")            
        md-card#mainImageCard.animated.slideInRight(flex)
          img(src="/assets/images/skyDir.png")   
  div
    div.animated.slideInUp
      div#latestWorkTitle(flex="100", layout="row" layout-align="center center")
        div.lineDivider(flex="20")
        h1(flex="40") SOME OF MY LATEST WORK
        div.lineDivider(flex="20")
      div#projects(flex="grow")
        md-grid-list(
          md-cols-gt-xs="3" 
          md-cols="1" 
          md-row-height="4:3.5"
          md-gutter-gt-sm="10px"  
          md-gutter="4px")
          md-grid-tile(ng-repeat="project in $ctrl.listImportantProjects")
            div(layout="column" layout-fill)
              project-card(project="project")
