
div#main
  div#mainText(flex="100", layout="column")
    div(layout="row" layout-fill layout-align="center center")
      md-card.animated.slideInLeft(flex)#mainTextCard
        img(ng-src="/assets/images/skyEsqV2comTexto.jpg")            
      md-card.animated.slideInRight(flex)#mainTextCard
        img(ng-src="/assets/images/skyDirV2.jpg")
  .container                    
    div(flex).animated.slideInUp
      div#latestWorkTitle(flex="100", layout="row" layout-align="center center")
        div.lineDivider(flex="20")
        h1(flex="50") SOME OF MY LATEST WORK
        div.lineDivider(flex="20")
      div#projects(flex)
        md-grid-list( flex
          md-cols-gt-sm="3" 
          md-cols="1" 
          md-row-height="4:4"
          md-gutter-gt-sm="35px"  
          md-gutter="4px")
          md-grid-tile(ng-repeat="project in $ctrl.listImportantProjects")
            div(layout="column" layout-fill)
              md-button(ng-href="{{project.siteUrl}}")
                md-card
                  img(ng-src="{{project.imgUrl}}") 
                  div#card(flex layout="row"  layout-align="center center") 
                    md-card-title(flex="90")
                      md-card-title-text
                        span.md-headline {{project.title}}
                        span.md-subhead {{project.type}}
                    div#pointer(flex layout-align="center center")
                      i.fa.fa-angle-right      
                    