div#aboutMain
  .container#aboutContainer
    div#aboutMe(flex="100"
      layout="column" 
      layout-gt-sm="row"
      layout-align="center center"
      layout-fill
      )
      div#text.animated.slideInLeft(flex="100" flex-gt-sm="50" layout="column" layout-fill)
        h1 about me
        h2 Im a Full Stack Engineer  <br /> from São Paulo, Brazil
        div(flex layout="column")#innerText
          p. 
            I enjoy turning complex problems into simple, 
            beautiful and intuitive systems. 
            When I'm not coding or pushing pixels, 
            you'll find me in the skies or at running course.
      div#aboutImage.animated.slideInRight(flex="100" flex-gt-sm="50" layout="column" layout-fill)
        md-card
          img(ng-src="../../assets/images/picsAbout9100.jpg")   
    div.animated.fadeInUp#pics(flex="100" layout="row")
      md-grid-list(flex
          md-cols-gt-xs="8" md-cols="2" 
          md-row-height="4:3"
          md-gutter="4px")
          md-grid-tile(ng-repeat="pics in $ctrl.listPics")
            div(layout="column" layout-fill)          
              md-card
                img(ng-src="{{pics.imgUrl}}") 
    div#randomFacts(flex="100" layout="column" layout-gt-sm="row")
      div.animated.slideInLeft#factsPic(flex = "50")
        div(layout="column" layout-fill)
          md-card
            img(ng-src="../../assets/images/yoda.jpg")   
      div.animated.slideInRight#factsText(
        flex = "50" 
        layout="column" 
        layout-align="center center")
        md-list
          md-list-item 
            span I love Star Wars and got a colection of 500 action figures.
          md-list-item 
            span Skydive is my new passion, 1000 jumps in 3 years.
          md-list-item 
            span I love special coffee beans
          md-list-item 
            span I want to be a super mutant
          md-list-item 
            span I use mac

    div#skills(flex="100" layout ="column")
      h1 my skills
        nvd3#skillsGraph(flex="100" 
          options='$ctrl.graphOptions'
          api="$ctrl.api" 
          data='$ctrl.data'
          events="$ctrl.graphEvents"
        )

    

    






