social-share-jp
div#BlogMain
  .container(layout-align="center center")
    h1 My Weekly Code Joy
    div(layout ="columns" layout-gt-sm="row")
      div(flex)
      div#blogText(flex="100", flex-gt-sm="70" layout-align="center center")
        div#posts
          md-list(flex)
            md-list-item(layout="column" layout-gt-sm="row" ng-repeat="post in $ctrl.listPosts")
              div(flex="100" flex-gt-xs="60" layout="column").animated.slideInUp
                md-card
                  div(flex)#image
                    img(ng-src="{{post.postImage}}", layout-align="center center" alt="{{post.postImage}}")
                  md-card-title(layout="column"  layout-align="center center")
                    md-card-title-text
                      div(flex="100" layout="row" layout-align="space-between center")#title
                        span.md-headline {{post.title}}
                        div(flex)#divider 
                        span.md-subhead By {{post.author}} on {{post.date | date:"dd MMM yyyy"}}
                        div.fb-like(
                          data-href="https://www.rogatis.eti.br" 
                          data-layout="button_count" 
                          data-action="like" 
                          data-size="small" 
                          data-show-faces="false" 
                          data-share="false")
                    md-card-content  
                      span#text.md-padding(ng-bind-html="post.text | limitTo: 800")
                      div#more 
                        a(ng-href=`/post/{{post.slug}}`) more ...
      div(flex)
    






